* {
    font-family:Arial, Helvetica, sans-serif;
}

.page {
    margin: 50px;
}

.header {
    grid-area: header;
    margin-left: 50px;
}

.header-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "Futura";
    color: #666;
}

.two-line-header {
    line-height: 1;
    
}

.nav-bar {
    grid-area: nav-bar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ccc;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    /* margin: 0; */
    /* margin-left: 30px; */
    /* padding: 30px; */
}

.section-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    font-family: "Futura";
    color: #666;
    padding: 20px;
}

.intro-section {
    grid-area: intro-section;
    display: flex;
    flex-direction: row;
}

.feature-image {
    width: 400px;
    height: 200px;
    margin: 50px;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.blog-container {
    display: flex;
    grid-area: blog-container;
    justify-content: space-between;
}
  
.blog-item {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.blog-thumbnail {
    background-color: #ddd;
    height: 100px;
    margin-bottom: 15px;
}

.contact-section {
    grid-area: contact;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    background-color: lightgrey;
    justify-content: space-around;
}

.contact-info {
    display: flex;
    flex-direction: column;
    /* margin-left: 200px; */
}

.institution-image {
    width: 200px;
}

.horizontal-bar {
    grid-area: hor-bar;
}

/* For view more button */
.view-more {
    display: flex;
    justify-content: center;
  }

.view-more-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

.view-more-btn:hover {
    color: lightskyblue;
}

/* .page {
    display: grid;
    grid-template-areas: 
        "header           nav-bar          nav-bar"
        "feature-image-1  intro-section-1  intro-section-1"
        "intro-section-2  intro-section-2  feature-image-2"
        "blog-container   blog-container   blog-container"
        "contact          contact          contact";
} */
  